{% load static %}
{% load active_link_tags %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}" {% endif %}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Voyage - {% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
</head>

<body class="bgcolor-light">
<div class="d-flex flex-column">
<nav class="navbar navbar-expand-lg navbar-dark bgcolor-dark-dark">
    <div class="container fixed">
        <a class="navbar-brand {% active_link 'index' strict=True %}" href="{% url 'index' %}">Voyage</a>
        <button
                class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNavAltMarkup"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% active_link 'index' strict=True %}" href="{% url 'index' %}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Some Page
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% active_link 'profile' strict=True %}" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'trip_add' %}">Add trip</a>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% active_link 'login' strict=True %}" href="{% url 'login' %}">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active_link 'register' strict=True %}" href="{% url 'register' %}">
                        Register
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container bgcolor-dark">
    <div class="jumbotron bgcolor-dark pr-0 pl-0 pu-0 pb-2">
        {% block carousel %}{% endblock %}
    </div>
    <div class="pb-5">
        {% block content %}{% endblock %}
    </div>
</div>
<div class="footer bg-dark">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container fixed d-flex justify-content-center">
            <div id="navbarNavAltMarkupFooter">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'help' strict=True %}" href="{% url 'index' %}">
                            Help
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'contact' strict=True %}" href="{% url 'index' %}">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'advertising' strict=True %}" href="{% url 'index' %}">
                            Advertising
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'conditions of use' strict=True %}" href="{% url 'index' %}">
                            Conditions of Use
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'privacy policy' strict=True %}" href="{% url 'index' %}">
                            Privacy Policy
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <p class="text-center pb-5 text-white">© 2025 by Solar Empire Inc.</p>
</div>
</div>
</body>

</html>