{% extends 'base.html' %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        <div class="text-warning">
            {{ form.non_field_errors }}
        </div>
        <div class="form-group">
            Fill in the required fields of the form to purchase the trip to {{ trip.where_to }}
        </div>
        <div class="form-group">
            <label for="{{ form.firstname.id_for_label }}">First name:</label>
            {{ form.firstname }}
        </div>
        <div class="text-warning">
            {{ form.firstname.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.lastname.id_for_label }}">Last Name:</label>
            {{ form.lastname }}
        </div>
        <div class="text-warning">
            {{ form.lastname.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.birth_date.id_for_label }}">Date of birth:</label>
            {{ form.birth_date }}
        </div>
        <div class="text-warning">
            {{ form.birth_date.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">E-mail:</label>
            {{ form.email }}
        </div>
        <div class="text-warning">
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.phone_number.id_for_label }}">Phone number:</label>
            {{ form.phone_number }}
        </div>
        <div class="text-warning">
            {{ form.phone_number.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.amount_adult.id_for_label }}">Adults (available places - {{ trip.adult_places }}):</label>
            {{ form.amount_adult }}
        </div>
        <div class="text-warning">
            {{ form.amount_adult.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.amount_child.id_for_label }}">Children (available places - {{ trip.child_places }}):</label>
            {{ form.amount_child }}
        </div>
        <div class="text-warning">
            {{ form.amount_child.errors }}
        </div>
        <input type="hidden" name="adult_price" value="{{ trip.adult_price }}">
        <input type="hidden" name="child_price" value="{{ trip.child_price }}">
        <div class="d-flex flex-column justify-content-end">
            <div class="d-flex flex-row justify-content-end align-items-baseline">
                <label for="{{ form.total_adult_price.id_for_label }}">Coast for adults:</label>
                <div style="width: 100px; padding-right: 5px">{{ form.total_adult_price }}</div>
                <p>CZK</p>
            </div>
            <div class="d-flex flex-row justify-content-end align-items-baseline">
                <label for="{{ form.total_child_price.id_for_label }}">Coast for children:</label>
                <div style="width: 100px; padding-right: 5px">{{ form.total_child_price }}</div>
                <p>CZK</p>
            </div>
            <div class="d-flex flex-row justify-content-end align-items-baseline">
                <label for="{{ form.total_price.id_for_label }}">Total coast:</label>
                <div style="width: 100px; padding-right: 5px">{{ form.total_price }}</div>
                <p>CZK</p>
            </div>
        </div>
        <input type="hidden" name="trip_id" value="{{ trip.id }}">
        <input type="submit" value="Purchase" class="btn btn-primary">
    </form>
{% endblock %}
