{% extends 'base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media.js }}
        <div class="row pb-4 border-bottom">
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.code.id_for_label }}">Code:</label>
                    {{ form.code }}
                    <p>Code requirements:</p>
                    <ul>
                        <li>the first two letters is the international code of the destination continent,</li>
                        <li>the second two letters is the international code of the destination country,</li>
                        <li>the last three digits is the sequential number of the trip to this destination.</li>
                    </ul>
                    <p class="warning-text pt-2">{{ form.code.errors.as_text }}</p>
                </div>
            </div>
            <div class="col">
                <label for="{{ form.promoted.id_for_label }}">Promoted:</label>
                <div class="form-group d-flex d-flex-inline align-items-center justify-content-left">
                    <div style="width: 25px">{{ form.promoted }}</div>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.where_from.id_for_label }}">Where from:</label>
                    {{ form.where_from }}
                    <p class="warning-text pt-2">{{ form.where_from.errors.as_text }}</p>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.where_to.id_for_label }}">Where to:</label>
                    {{ form.where_to }}
                    <p class="warning-text pt-2">{{ form.where_to.errors.as_text }}</p>
                </div>
            </div>
        </div>
        <div class="row pb-4 border-bottom">
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.airport_depart.id_for_label }}">Departure airport:</label>
                    {{ form.airport_depart }}
                    <p class="warning-text pt-2">{{ form.airport_depart.errors.as_text }}</p>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.airport_arrive.id_for_label }}">Arrival airport:</label>
                    {{ form.airport_arrive }}
                    <p class="warning-text pt-2">{{ form.airport_arrive.errors.as_text }}</p>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.where_to_hotel.id_for_label }}">Hotel:</label>
                    {{ form.where_to_hotel }}
                   <p class="warning-text pt-2">{{ form.where_to_hotel.errors.as_text }}</p>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.type.id_for_label }}">Type:</label>
                    {{ form.type }}
                    <p class="warning-text pt-2">{{ form.type.errors.as_text }}</p>
                </div>
            </div>
        </div>
        <div class="row pb-4 border-bottom">
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.departure_date.id_for_label }}">Departure date:</label>
                    {{ form.departure_date }}
                    <p class="warning-text pt-2">{{ form.departure_date.errors.as_text }}</p>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.return_date.id_for_label }}">Return date:</label>
                    {{ form.return_date }}
                    <p class="warning-text pt-2">{{ form.return_date.errors.as_text }}</p>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.duration.id_for_label }}">Duration:</label>
                    {{ form.duration }}
                    <p class="warning-text pt-2">{{ form.duration.errors.as_text }}</p>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.adult_price.id_for_label }}">Price for adults:</label>
                    {{ form.adult_price }}
                    <p class="warning-text pt-2">{{ form.adult_price.errors.as_text }}</p>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.child_price.id_for_label }}">Price for children:</label>
                    {{ form.child_price }}
                    <p class="warning-text pt-2">{{ form.child_price.errors.as_text }}</p>
                </div>
            </div>
        </div>
        <div class="row pb-4 border-bottom">
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.adult_places.id_for_label }}">Places available for adults:</label>
                    {{ form.adult_places }}
                    <p class="warning-text pt-2">{{ form.adult_places.errors.as_text }}</p>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.child_places.id_for_label }}">Places available for children:</label>
                    {{ form.child_places }}
                    <p class="warning-text pt-2">{{ form.child_places.errors.as_text }}</p>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Description:</label>
                    {{ form.description }}
                    <p class="warning-text pt-2">{{ form.description.errors.as_text }}</p>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.short_description.id_for_label }}">Short description:</label>
                    {{ form.short_description }}
                    <p class="warning-text pt-2">{{ form.short_description.errors.as_text }}</p>
                </div>
            </div>
        </div>
        <div class="row pt-4 pb-4 border-bottom">
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.image.id_for_label }}">Image for trip details page:</label>
                    {{ form.image }}
                    <p class="warning-text pt-2">{{ form.image.errors.as_text }}</p>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.image_small.id_for_label }}">Small image for trip cards:</label>
                    {{ form.image_small }}
                    <p class="warning-text pt-2">{{ form.image_small.errors.as_text }}</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center pt-4">
            <input type="submit" value="Submit" class="btn btn-primary" style="width: 100px">
        </div>
    </form>
{% endblock %}
