{% extends 'base.html' %}
{% load static %}
{% load active_link_tags %}

{% block title %}
    Main page
{% endblock %}

{% block carousel %}
<div class="search-bar-area-container mb-5">
    <div class="d-flex justify-content-around align-items-center flex-wrap destination-search-bar">
        <input class="search-field mb-3" id="destination-country-input" type="text" placeholder="Country..."
               autocomplete="off" style="padding: 0.7em">
        <input class="search-field mb-3" id="destination-city-input" type="text" placeholder="City..."
               autocomplete="off" style="padding: 0.7em">
        <input class="search-field mb-3" id="destination-hotel-input" type="text" placeholder="Hotel..."
               autocomplete="off" style="padding: 0.7em">
        <a id="destination-link" href="{% url 'search_results' %}" class="btn btn-primary mb-3"
           style="font-size: 1.25rem" onclick="updateLink(event)">Search</a>
        <script>
            function updateLink(event) {
                event.preventDefault();
                const input_country = document.getElementById('destination-country-input').value;
                const input_city = document.getElementById('destination-city-input').value;
                const input_hotel = document.getElementById('destination-hotel-input').value;
                const link = document.getElementById('destination-link');

                let queryParameters = [];
                if (input_country.trim() !== '') {
                    queryParameters.push(`s_country=${encodeURIComponent(input_country)}`);
                }
                if (input_city.trim() !== '') {
                    queryParameters.push(`s_city=${encodeURIComponent(input_city)}`);
                }
                if (input_hotel.trim() !== '') {
                    queryParameters.push(`s_hotel=${encodeURIComponent(input_hotel)}`);
                }

                link.href = `search_results/?${queryParameters.join('&')}`;
                window.location.href = link.href;

                queryParameters = []
            }
        </script>
    </div>
</div>

{% if upcoming_trips %}
<div id="carouselExampleIndicators" class="carousel slide d-flex flex-column mb-2" data-ride="carousel" >
        <div class="carousel-inner border border-1 border-white">
            {% for trip in upcoming_trips %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}" >
                    <a href="{% url 'trip_details' %}?trip={{ trip.id }}">
                    {% if trip.image %}
                    <img src="{{ trip.image.url }}" class="d-block w-100" alt="{{trip.where_to.name}}_image"
                         style="height: 27em; width: 100em; object-fit: cover; object-position: center">
                    {% else %}
                    <img src="{% static 'images/no_image_icon.png' %}" class="d-block w-100" alt="no_image"
                         style="object-position: center">
                    {% endif %}
                    <div class="last-minute-banner">LAST MINUTE</div>
                    <div class="carousel-caption d-none d-md-block text-dark-dark bg-transp-60"
                         style="font-weight: bold">
                        <h5 style="font-weight: bold">{{ trip.where_to }}</h5>
                        <h5>{{ trip.where_to_hotel.name }}</h5>
                        <p>{{ trip.short_description }}</p>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <div class="mt-5">
            <ol class="carousel-indicators">
                {% for trip in upcoming_trips %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endif %}

{% if promoted_trips %}
<div class="promoted-trips-container mb-4">
    <div class="d-inline-flex align-items-start justify-content-around" style="height: 580px">
        {% for trip in promoted_trips %}
        <div class="d-flex justify-content-around flex-column ml-3 mr-3 border border-1 border-white"
             style="width: 370px; height: 575px">
            {% if trip.image_small %}
            <img src="media/{{ trip.image_small }}" class="card-img-top" alt="{{ trip.where_to.name }}">
            {% else %}
            <img src="{% static 'images/no_image_icon_card.png' %}" class="card-img-top" alt="{{ trip.where_to.name }}">
            {% endif %}
            <div class="card-body d-flex justify-content-center flex-column bgcolor-light">
                <h5 class="card-title">{{ trip.where_to }}, {{ trip.where_to_hotel.name }}</h5>
                <p class="card-text">{{ trip.short_description }}</p>
                <div class="card-footer d-inline-flex justify-content-between mt-auto">
                    <h5>Price</h5>
                    <a href="{% url 'trip_details' %}?trip={{ trip.id }}" class="btn btn-primary">
                        {{ trip.adult_price }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="card bg-dark text-white mb-4 border-1 border-white" style="height: 13em">
    <div class="overflow-hidden">
        <img class="card-img" src="{% static '/images/Globe.jpg' %}" alt="globe_image"
             style="height: 210px; width: 1200px">
    </div>
    <div class="card-img-overlay">
        <h5 style="text-align: center; background: white; opacity: 0.6; padding: 0.5em; font-size: 30; color: #3F4A86;
         font-weight: bold">Explore by country</h5>
        <div class="d-flex justify-content-around align-content-around flex-wrap mt-4">
            {% for trip in countries_trips %}
            <div>
                <a class="country-name-link"
                   href="{% url 'search_results' %}?s_country={{trip.where_to.country.name}}">
                    {{ trip.where_to.country.name }}
                </a>
            </div>
            {% endfor %}
            <a class="country-name-link"
               href="{% url 'countries_list' %}">See more ...
            </a>
        </div>
    </div>
</div>

<h5 style="text-align: center; background: white; opacity: 0.6; padding: 0.5em; font-size: 30; color: #3F4A86;
 font-weight: bold">
    Explore by continent
</h5>
<div class="filter-by-continent mb-4" >
    <div class="continent-image-row">
         <div class="continent-image-area">
            <a href="{% url 'search_results' %}?s_continent=Africa" >
                <img class="continent-image" src="{% static '/images/Africa.jpg' %}" alt="africa_image">
                <div class="continent-title">Africa</div>
            </a>
         </div>
         <div class="continent-image-area">
            <a href="{% url 'search_results' %}?s_continent=Europe" >
                <img class="continent-image" src="{% static '/images/Europe.jpg' %}" alt="europe_image">
                <div class="continent-title">Europe</div>
            </a>
         </div>
    </div>
    <div class="continent-image-row">
         <div class="continent-image-area">
             <a href="{% url 'search_results' %}?s_continent=Asia" >
                  <img class="continent-image" src="{% static '/images/Asia.jpg' %}" alt="asia_image" >
                    <div class="continent-title">Asia</div>
             </a>
        </div>
        <div class="continent-image-area">
            <a href="{% url 'search_results' %}?s_continent=North America" >
                <img class="continent-image" src="{% static '/images/NorthAmerica.jpg' %}" alt="north_america_image">
                    <div class="continent-title">North America</div>
            </a>
        </div>
    </div>
    <div class="continent-image-row">
         <div class="continent-image-area">
             <a href="{% url 'search_results' %}?s_continent=Australia" >
                  <img class="continent-image" src="{% static '/images/Australia.jpg' %}" alt="australia_image" >
                    <div class="continent-title">Australia</div>
             </a>
        </div>
        <div class="continent-image-area">
            <a href="{% url 'search_results' %}?s_continent=South America" >
                <img class="continent-image" src="{% static '/images/SouthAmerica.jpg' %}" alt="south_america_image">
                    <div class="continent-title">South America</div>
            </a>
        </div>
    </div>
    <div class="continent-image-row">
         <div class="continent-image-area">
             <a href="{% url 'search_results' %}?s_continent=Antarctica" >
                  <img class="continent-image" src="{% static '/images/Antarctica.jpg' %}" alt="antarctica_image" >
                  <div class="continent-title">Antarctica</div>
             </a>

        </div>
        <div class="continent-image-area">
            <a href="{% url 'search_results' %}" >
                <img class="continent-image" src="{% static '/images/SeeAll.jpg' %}" alt="All_image">
                    <div class="continent-title">See All...</div>
            </a>
        </div>
    </div>
</div>

<h3 style="text-align: center; background: white; opacity: 0.6; padding: 0.3em; font-size: 30; color: #3F4A86;
 font-weight: bold">
    Others have purchased
</h3>
<div class="d-flex justify-content-around align-content-around flex-wrap mt-2 recently-purchased-area-container">
    {% for trip in recently_purchased_trips %}
    <div class="recently-purchased-container border border-1 border-white m-2">
        <a class='recently-purchased-link' href="{% url 'trip_details' %}?trip={{ trip.trip.id }}">
            {% if trip.trip.image %}
            <img class="recently-purchased-image" src="{{ trip.trip.image.url }}">
            {% else %}
            <img class="recently-purchased-image" src="{% static 'images/no_image_icon_card.png' %}" alt="no image">
            {% endif %}
            <div class="recently-purchased-text">{{ trip.trip.where_to.name }}</div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
