{% extends 'base.html' %}
{% load static %}
{% block title %}
    Trip details
{% endblock %}


{% block content %}
<div class="d-flex justify-content-around flex-column text-left bgcolor-light">
    <div class="card-header">
        <h3 class="card-title">{{ trip.where_to_hotel.name }}</h3>
        <h5 class="card-title">{{ trip.where_to }}</h5>
    </div>
    <div class="card-body d-inline-flex justify-content-between">
        <div>
            <img class="card-img-top" src="{{ trip.image.url }}" alt="{{ trip.where_to.name }}">
        </div>
        <div class="ml-4">
            <h5 class="card-title">Departure</h5>
            <p class="card-text">{{ trip.where_from.name }}, {{trip.airport_depart.name}}</p>
            <p class="card-text">{{ trip.departure_date }}</p>
            <h5 class="card-title">Return</h5>
            <p class="card-text">{{ trip.where_to.name }}, {{trip.airport_arrive.name}}</p>
            <p class="card-text">{{ trip.return_date }}</p>
            <h5 class="card-title">Duration</h5>
            <p class="card-text">{{ trip.duration }} days</p>
            <h5 class="card-title">Price</h5>
            <p class="card-text">Adults: {{ trip.adult_price }} CZK</p>
            <p class="card-text">Children: {{ trip.child_price }} CZK</p>
            <a href="{% url 'trip_purchase' %}?trip={{ trip.id }}" class="btn btn-primary">Purchase</a>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">About the trip</h5>
        <p class="card-text">{{ trip.description }}</p>
    </div>
</div>
{% endblock %}