{% extends 'base.html' %}
{% load static %}

{% block title %}
    Trip to {{ trip.where_to }}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center flex-column text-left bgcolor-light">
    <div class="m-3">
        <h3 class="card-title">{{ trip.where_to_hotel.name }}</h3>
        <h5 class="card-title">{{ trip.where_to }}</h5>
    </div>
    {% if trip.image %}
    <img src="{{ trip.image.url }}" class="card-img-top" alt="{{ trip.where_to.name }}">
    {% else %}
    <img src="{% static 'images/no_image_icon.png' %}" class="card-img-top" alt="no image">
    {% endif %}
    <div class="row justify-content-between ml-3">
        <div class="col-sm-4">
            <div class="card border border-0">
                <div class="card-body bgcolor-light">
                    <h5 class="card-title">Departure</h5>
                    <p class="card-text">{{ trip.where_from.name }}, {{trip.airport_depart.name}}</p>
                    <p class="card-text">{{ trip.departure_date }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border border-0">
                <div class="card-body bgcolor-light">
                    <h5 class="card-title">Return</h5>
                    <p class="card-text">{{ trip.where_to.name }}, {{trip.airport_arrive.name}}</p>
                    <p class="card-text">{{ trip.return_date }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border border-0">
                <div class="card-body bgcolor-light">
                    <h5 class="card-title">Duration</h5>
                    <p class="card-text">{{ trip.duration }} days</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row ml-3 justify-content-center">
        <div class="col-sm-4">
            <div class="card border border-0">
                <div class="card-body bgcolor-light">
                    <h5 class="card-title">Price</h5>
                    <p class="card-text">Adults: {{ trip.adult_price }} CZK</p>
                    <p class="card-text">Children: {{ trip.child_price }} CZK</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border border-0">
                <div class="card-body bgcolor-light">
                    <h5 class="card-title">Available places</h5>
                    <p class="card-text">For adults: {{ trip.adult_places }}</p>
                    <p class="card-text">For children: {{ trip.child_places }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <a href="{% url 'trip_purchase' %}?trip={{ trip.id }}" class="btn btn-primary">Purchase</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">About the trip</h5>
        <p class="card-text">{{ trip.description }}</p>
        <h5 class="card-title">About hotel</h5>
        <p class="card-text">{{ hotel.description }}</p>
        <h5 class="card-title">Service</h5>
        <p class="card-text">{{ service_standard }}</p>
    </div>
    <div class="card-body">
        <h3>Weather forcast for {{ trip.where_to }}</h3>
        <div class="overflow-auto">
        {% if forcast %}
        <div class="d-inline-flex">
            {% for day in forcast %}
            <div class="card text-center m-2 rounded" style="width: 10em; height: 18rem; background-color: white">
                <h5 class="card-title d-flex justify-content-center bgcolor-dark border-bottom pt-2 pb-2 m-1
                 font-weight-bold text-white rounded">
                    {{ day.week_day }}, {{ day.date_smpl }}
                </h5>
                <div class="justify-content-center">
                    <img src="{% static 'weather_icons/' %}{{ day.weather.icon }}.png" class="card-img-top"
                         alt="weather pic" style="width: 4.5rem">
                    <p class="card-subtitle">{{ day.weather.description }}</p>
                </div>
                <div class="card-body d-flex justify-content-center flex-column">
                    <p class="card-text mt-0">{{ day.high_temp }}&degC / {{ day.low_temp }}&degC</p>
                    <p class="card-text mt-0">Humidity: {{ day.rh }}%</p>
                    <p class="card-text mt-0">Wind: {{ day.wind_spd }}m/s</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="d-flex justify-content-center p-2" style="background-color: white">
            <h5>Sorry, the weather forcast for this location is not available :(</h5>
        </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}