.div-h1 {
    padding: 0.2em 0.2em;
}

h1 {
    padding: 0.3rem;
}

.bgcolor-dark-dark {
    background-color: #3F4A86
}

.bgcolor-dark {
    background-color: #7180AC
}

.bgcolor-light {
    background-color: #DBFCFF
}

.bg-transp-60 {
    background-color: white;
    opacity: 0.6
}

.filter-by-country {
    position: relative;
    background: pink;
    display: flex;
    height: 200px;
    border: 1px solid white;
    margin-bottom: 3em;
}


.globe-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.country-name-container {
    padding: 0.7em;
    position: absolute;
    width: 100%;
    top: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 35;
    text-shadow: black 0px 0 10px;
}

.see-more-link {
    color: white;
}

.country-name-link {
    color: white;
}

.continent-image-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0.4em;
}

.continent-image-area {
      position:relative;
      width: 49%;
      height: 300px;
      border: 1px solid white
}

.continent-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.continent-title {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 90;
    transform: translate(-50%, -50%);
    text-shadow: black 0px 0 10px;
}


.countries-list-columns {
    width: 100%;
    column-count: 3;
    margin-left: 0.5em;

}

.country-list-link {
    color: white;
}

.trips_line {
    position: relative;
    display: flex;
    align-items: left;
    gap: 1em ;
    background-color: #DBFCFF;
    padding: 1em;
    border-bottom: 1px solid gray;
}

.trips_line_image {
    width: 270px;
    height: 180px;
    object-fit: cover;
}

.trips_line_text {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 600px;
    line-height: normal;
    overflow: hidden;
    padding: 5px;
}

.btn_trip_buy_line {
    background-color: #007bff;
    color: white;
    font-size: 30;
    min-width: 40px;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    top: 35%;
    right: 3%;
}

.pad-0 {
    padding: 0px
}

.text-white {
    color: white
}

.text-dark-dark {
    color: #3F4A86
}

.warning-text {
    color: #721c24
}

.vert-align {
    vertical-align: baseline;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

