.div-h1 {
    padding: 0.2em 0.2em;
}

h1 {
    padding: 0.3rem;
}

.bgcolor-dark-dark {
    background-color: #3F4A86
}

.bgcolor-dark {
    background-color: #7180AC
}

.bgcolor-light {
    background-color: #DBFCFF
}

.bg-transp-60 {
    background-color: white;
    opacity: 0.6
}

.pad-0 {
    padding: 0px
}

.text-white {
    color: white
}

.text-dark-dark {
    color: #3F4A86
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}